<!-- <router-outlet></router-outlet> -->

<h1>Template Based Contact Form</h1>

<form #myform="ngForm" (ngSubmit)="onTemplateFormSubmit(myform)">
  <input type="text" name="fullname" placeholder="Your full name" ngModel>
  <br>

  <input type="email" name="email" placeholder="Your email" ngModel>
  <br>

  <textarea name="message" placeholder="Your message" ngModel></textarea>
  <br>
  <input type="submit" value="Send">
</form>

<hr>
<hr>
<hr>

<h1>Reactive Contact Form</h1>

<form [formGroup]="contactForm" (ngSubmit)="onReactiveFormSubmit()">
  <input type="text" name="fullname" placeholder="Your full name" formControlName="fullname">
  <br>

  <input type="email" name="email" placeholder="Your email" formControlName="email">
  <br>

  <textarea name="message" placeholder="Your message" formControlName="message"></textarea>
  <br>
  <input type="submit" value="Send">
</form>